@import url("./reset.css");

@font-face {
  font-family: "Orbitron";
  src: url("../public/fonts/Orbitron/Orbitron-VariableFont_wght.ttf");
}

:root {
  --c-green: hsl(107, 100%, 70%);
  --c-green-l: hsl(107, 100%, 75%);
  --c-green-ls: hsl(107, 100%, 80%);
  --c-white: hsl(12, 100%, 99%);
  --c-orange: hsl(24, 85%, 65%);
  --c-orange-d: hsl(24, 85%, 60%);
  --c-orange-ds: hsl(24, 85%, 55%);
  --c-black: hsl(0, 0%, 2%);
  --c-black-l: hsl(0, 0%, 5%);
  --c-black-ls: hsl(0, 0%, 7%);
  --c-gray: hsl(0, 0%, 17%);
}

html {
  scroll-behavior: smooth;
  scroll-padding-top: 96px;
  font-family: "Orbitron";
  letter-spacing: 1px;
}

body {
  background-color: var(--c-black-ls);
  color: var(--c-white);
  border: 4px solid var(--c-gray);
}

.presentation__header,
.presentation__content .content__header,
footer {
  padding: 48px 24px;
}

.presentation__content {
  isolation: isolate;
  position: relative;
}

.presentation__header {
  opacity: 0;
  position: relative;
  z-index: 1;
  isolation: isolate;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.presentation__header.visible {
  animation: show-target .5s forwards;
}

.presentation__header .header__banner {
  position: relative;
  z-index: 1;
}

.header__banner::before {
  display: block;
  position: absolute;
  z-index: -1;
  content: "";
  left: 25%;
  top: 15%;
  width: 80%;
  height: 80%;
  border: 16px double var(--c-gray);
}

.presentation__header .header__title {
  position: relative;
  text-align: right;
  place-self: center;
  padding-block: 24px;
  font-size: 3rem;
  font-weight: 900;
  line-height: 1;
  z-index: 1;
}

.presentation__header .header__title::after {
  content: "";
  display: block;
  position: absolute;
  z-index: -1;
  top: 0;
  width: 50%;
  height: 100%;
  background-color: #e5e5f7;
  background-image: repeating-linear-gradient(
    45deg,
    var(--c-black),
    var(--c-black) 5px,
    var(--c-black-ls) 5px,
    var(--c-black-ls) 24px
  );
}

.presentation__header .header__title::before {
  content: "";
  display: block;
  position: absolute;
  z-index: -1;
  top: 0;
  left: 50%;
  width: 50%;
  height: 100%;
  background-color: #e5e5f7;
  background: repeating-linear-gradient(
    -45deg,
    var(--c-black),
    var(--c-black) 5px,
    var(--c-black-ls) 5px,
    var(--c-black-ls) 24px
  );
}

.header__title--highlight {
  font-size: 1.25rem;
  color: var(--c-orange);
}

.header__nav {
  position: fixed;
  z-index: 10;
  display: grid;
  top: calc(50vh - 21rem / 2);
  padding: 8px;
  width: 13.25rem;
  height: 21rem;
  gap: 4px;
  grid-template-areas: "links toggler";
  background-color: var(--c-black);
}

.nav__links {
  display: flex;
  position: relative;
  z-index: inherit;
  gap: 4px;
  flex-flow: column nowrap;
  justify-content: center;
  grid-area: links;
}

.header__nav:not(:focus-within) {
  left: calc((13.25rem - 28px) * -1);
}

.header__nav .header__nav--link {
  padding: 4px;
  position: relative;
}

.header__nav .header__nav--link:hover {
  background-color: var(--c-black-ls);
}

.header__nav--link:hover::before {
  content: "";
  position: absolute;
  display: block;
  top: 0;
  left: -8px;
  height: 100%;
  border-left: 8px solid var(--c-orange);
}

.header__nav .header__nav--toggler {
  grid-area: toggler;
  color: var(--c-orange-d);
  font-size: 1.5rem;
  text-align: right;
  cursor: pointer;
}

.presentation__content .content__header {
  text-align: center;
  place-items: center;
  display: grid;
  padding-block: 96px;
  gap: 16px;
  background: linear-gradient(to bottom, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url("../public/images/mnz-ToLMORRb97Q-unsplash.jpg");
  background-attachment: fixed;
  background-size: cover;
  background-position: center;
}

.content__header :first-child {
  align-self: flex-end;
}

.content__header .header__title {
  color: var(--c-orange);
  font-size: 2rem;
}

.content__header .header__title::before {
  content: "<< ";
}

.content__header .header__title::after {
  content: " >>";
}

.content__header .header__link {
  align-self: flex-start;
  display: inline-block;
  padding: 12px 24px;
  background-image: linear-gradient(var(--c-black-ls), var(--c-black));
  text-decoration: none;
  color: var(--c-orange);
}
.content__header .header__link:hover {
  background-image: linear-gradient(var(--c-orange), var(--c-orange-ds));
  color: var(--c-black);
}

.content__list {
  display: grid;
  padding: 96px 24px;
  gap: 96px;
}

.list__part {
  opacity: 0;
  display: grid;
  grid-template-areas: "img" "heading" "desc";
  gap: 24px;
}

.list__part.visible {
  animation: show-target .5s forwards;
}

.list__part .part__title::after {
  content: " >>";
}

.list__part .part__title {
  grid-area: heading;
  align-self: flex-end;
  color: var(--c-orange);
  font-size: 1.75rem;
}

.list__part .part__desc {
  grid-area: desc;
  align-self: flex-start;
  position: relative;
  z-index: 1;
}

.part__desc::before {
  position: absolute;
  z-index: -1;

  display: block;
  content: "";
  width: 100%;
  height: 100%;
  background: repeating-linear-gradient(
    45deg,
    var(--c-black-l),
    var(--c-black-l) 5px,
    var(--c-black-ls) 5px,
    var(--c-black-ls) 24px
  );
}

.list__part .part__img {
  grid-area: img;
}

footer {
  text-align: center;
  font-size: 0.8rem;
}

@media screen and (min-width: 768px) {
  .presentation__header {
    flex-direction: row;
  }

  .list__part:nth-child(even) {
    grid-template-areas: "heading img" "desc img";
    grid-template-columns: 2fr 1fr;
    text-align: right;
  }

  .list__part:nth-child(odd) {
    grid-template-areas: "img heading" "img desc";
    grid-template-columns: 1fr 2fr;
  }

  .list__part .part__title::after {
    content: "";
  }

  .list__part:nth-child(odd) .part__title::after {
    content: " >>";
  }

  .list__part:nth-child(even) .part__title::before {
    content: "<< ";
  }

  .list__part:nth-child(even) .part__desc::before {
    top: 30%;
    right: 5%;
  }

  .list__part:nth-child(odd) .part__desc::before {
    top: 30%;
    left: 5%;
  }

  .presentation__header,
  footer {
    padding: 48px;
  }

  .content__list {
    padding: 96px 48px;
  }

  .header__nav:not(:focus-within) {
    left: calc((13.25rem - 48px) * -1);
  }
}

@media screen and (min-width: 1140px) {
  .presentation__header {
    min-height: 100vh;
  }

  .presentation__header,
  footer {
    padding: 48px 72px;
  }

  .presentation__header .header__title::before,
  .presentation__header .header__title::after {
    height: 20rem;
  }

  .presentation__header .header__title::after {
    top: -71%;
  }

  .content__header .header__desc {
    max-width: 50vw;
  }

  .header__nav:not(:focus-within) {
    left: calc((13.25rem - 36px) * -1);
  }

  .content__list {
    padding: 96px 72px;
  }

  .part__img {
    max-width: 400px;
  }
}

@keyframes show-target {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}
